{% extends 'base.html.twig' %}

{% block title %}BookStore index{% endblock %}

{% block body %}
    <h1>BookStore index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book_store in book_stores %}
            <tr>
                <td>{{ book_store.id }}</td>
                <td>{{ book_store.name }}</td>
                <td>{{ book_store.phone }}</td>
                <td>{{ book_store.email }}</td>
                <td>
                    <a href="{{ path('book_store_show', {'id': book_store.id}) }}">show</a>
                    <a href="{{ path('book_store_edit', {'id': book_store.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('book_store_new') }}">Create new</a>
{% endblock %}
