{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book {{ book.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Book Store Name</th>
                <td>{{ book.bookStore.name }}</td>
            </tr>
            <tr>
                <th>Book Store Email</th>
                <td>{{ book.bookStore.email }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ book.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ book.price|format_currency('IRR') }}</td>
            </tr>
            <tr>
                <th>Price With Tax</th>
                <td>{{ book.priceWithTax|format_currency('IRR') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ book.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
